@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu/Ubuntu-Regular.ttf");
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #444;
}

.links {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 250px;
    transform: translateX(-50%) translateY(-50%);
    background-color: #555;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 125px;
    transform: translateX(-50%) translateY(-50%);
    background-color: #666;
}

.logo-text {
    font-family: Ubuntu;
    font-size: 125px;

    position: relative;
    top: -15px; /* align vertically */
}

.github-plug {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    padding: 2px 5px; /* 2px vertical, 5px horizontal */
    font-family: Ubuntu;
}
